
        #example{
            display:flex;
            flex-direction: row;
        }
        img{
            width:25%;
            height:25%;
            
        }
        body{
            align-content: center;
            
        }
